<!DOCTYPE html>
{% load static %}
{#{% load staticfiles %}#}
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>BBS社区</title>
</head>
<link rel="stylesheet" href="{% static 'bbs/../../static/' %}" >
{#<link rel="stylesheet" href="/static/css/common.css" >#}
{#<link rel="stylesheet" href="../static/css/common.css" >#}
{#<link rel="stylesheet" href="common.css" >#}
{#<link rel="stylesheet" href="css/common.css" >#}
<body>
    <div class="pg-header">
        <div class="header-menu"></div>
        <div class="header-search"></div>
    </div>
    <div class="pg-body"></div>
    <div class="pg-bottom"></div>
    <img src="{% static 'bbs/../../static/images/test.png' %}">
</body>
</html>